/* project fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400,500;600;700&display=swap');

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 2px;
}

h2 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.didot {
    font-size: 20px;
    font-family: 'Didot', serif;
    font-style: italic;
}

#writing-content h2 {
    margin-bottom: -20px;
}

/* Apply a background color and text styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fbfbfb;
    color: #333;
    line-height: 1.6;
}

/* Container to center content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    color: #fff;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.navbar a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: lighter;
}

.myname {
    font-size: 36px;
    letter-spacing: 10px;
    margin-top: -10px;
    padding-right: 200px;
    font-weight: bolder;
}

.top-container {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

#homepage-container {
    height: 750px;
    background-image: url("images/karly2.webp");
    background-position: center 40%;
}

#photography-container {
    height: 600px;
    background-image: url("images/photo2.webp");
    background-position: center 30%;
}

#bookshelf-container {
    height: 550px;
    background-image: url("images/books.jpg");
    background-position: center 60%;
}

#art-container {
    height: 450px;
    background-image: url("images/art.webp");
}

#blog-container {
    height: 350px;
    background-image: url("images/blog.jpg");
    background-position: center 10%;
}

#writing-container {
    height: 550px;
    background-image: url("images/writing.webp");
    background-position: center 20%;
}

#museum-container {
    height: 350px;
    background-image: url("images/museum.jpg");
    background-position: center 100%;
}

.bottom-text {
    position: absolute;
    left: 25%;
    bottom: 0;
    padding-bottom: 50px;
}

section {
    margin: 40px 0;
}

.photo-gallery-stream {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    overflow: hidden;
    margin-bottom: 100px;
}

.photo-gallery-stream img {
    margin-bottom: 25px;
}

/* I know this is inefficient but I don't want to go back and fix rn */

.photo-gallery-stream-w-text {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    overflow: hidden;
    margin-bottom: 100px;
    text-align: center;
}

.photo-gallery-stream-w-text img {
    margin-bottom: 25px;
}

.center-content {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    font-family: 'Cormorant Garamond';
    font-weight: lighter;
    font-size: 18px;
}

.center-content a {
    text-decoration: underline;
}

.left-margin {
    margin-left: 10%;
}

.left-margin-smaller {
    margin-left: 5%
}

.left-margin-bigger {
    margin-left: 18%;
}

.right-margin {
    margin-right: 3%;
}

.right-margin-smaller {
    margin-right: 1%;
}

.right-margin-bigger {
    margin-right: 10%;
}

.center {
    padding-left: 20%;
}

.center-25 {
    padding-left: 25%;
}

.vertical-spacer {
    height: 30px;
    width: 100%;
}

.art-pages {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    padding-top: 50px;
    background-color: #000;
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 150px;
}

.art-pages img {
    margin-top: 50px;
}

.art-pages h3 {
    font-family: "Garamond";
    font-weight: lighter;
    font-size: 28px;
    color: #f0f0f0;
    margin-bottom: 0;
}

#writing-content h3 {
    margin-bottom: -5px;
}

.video-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.art-pages p {
    font-family: "Garamond";
    font-style: italic;
    font-size: 18px;
    color: #f0f0f0;
}

.art-pages a{
    text-decoration: underline;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

#home-title {
    font-size: 30px;
}

.quote {
    font-style: italic;
}

.font36 {
    font-size: 36px;
}

.inline-container {
    font-size: 20px;
}

.inline-container .italic {
    font-style: italic;
}

.inline-container p{
    margin: 0;
    display: inline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0e0e0e;
    color: #919191;
    height: 100px;
    font-family: 'Lato';
    font-size: 14px;
    margin-top: 100px;
}

.title {
    padding-top: 40px;
    text-align: center;
}

.spaced {
    letter-spacing: 7px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 16px;
    width: 1000px;
    margin: auto;
    padding-top: 60px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: #00a1b0;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease-in-out;
}

.image-grid div {
    height: 250px;
    overflow: hidden;
}

.image-grid div div {
    height: 210px;
    overflow: hidden;
}

.image-grid div p {
    font-family: Didot;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 13px 13px;
}

.reposition-20 {
    margin-top: -20px;
}

.reposition-150 {
    margin-top: -150px;
}

.reposition-400 {
    margin-top: -400px;
}

.image-grid img:hover {
    filter: brightness(1.2);
}

#art-content div {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#art-content div:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#art-2024 {
    background-image: url("art/2024/1.webp");
    background-position: center 30%;
}

#art-2023 {
    background-image: url("images/art-2023.png");
    background-position: center 35%;
}

#art-2022 {
    background-image: url("images/art-2022.webp");
    background-position: center 55%;
}

#art-2021 {
    background-image: url("images/art-2021.webp");
    background-position: center 75%;
}

#art-2020 {
    background-image: url("images/art-2020.png");
    background-position: center 27%;
}

#art-2019 {
    background-image: url("images/art-2019.png");
    background-position: center 25%;
}

#art-2018 {
    background-image: url("images/art-2018.png");
    background-position: center 77%;
}

#art-content a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
}

#art-content a:hover {
    color: #d6af00;
}

#art-content a div p {
    padding-left: 30px;
    padding-top: 250px;
}

.art-title {
    padding: auto;
}

.inline {
    display: inline;
}

#blog-content {
    height: 600px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    color: #00a1b0;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    header {
        padding: 20px 0;
    }

    /* Adjust other styles as needed for smaller screens */
}
